//Футер
.footer {
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  -webkit-flex-direction: column;
  flex-direction: column;
  //Верний блок
  &__top {
    display: -webkit-flex;
    display: flex;
    background-color: #25262a;
    padding: 80px 150px 80px 244px;
  }
  //Логотип футера
  &__logo {
    width: 21%;
    //Заголовок
    &-title {
      font: 26px sans-serif;
      margin-bottom: 44px;
    }
    //Текст
    &-text {
      font: 14px "Roboto Regular", sans-serif;
      line-height: 24px;
      padding-left: 5px;
    }
  }
  //Навигация
  &__navigation {
    display: -webkit-flex;
    display: flex;
    &-block {
      &-list {
        &-item {

        }
      }
    }
  }
}