@import url("./_logo.less");
@import url("./_navigation.less");

@header-height: 145px;

//Хеддер
.header {
  width: 100%;
  height: 950px;
  background: #202125 url("../../img/header_bg.jpg") no-repeat center center;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  @media screen and (max-width: 600px) {
    height: 950px / 1.5;
  }
  //Лого и навигация
  &__top {
    height: @header-height;
    display: -webkit-flex;
    display: flex;
    @media screen and (max-width: 992px) {
      min-height: @header-height * 2;
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }
  //Нижняя часть хеддера
  &__bottom {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    flex-grow: 1;
    &-content {
      margin-top: 247px;
      max-width: 710px;
      min-width: 320px;
      @media screen and (max-width: 600px) {
        margin-top: 100px;
      }
      //Заголовок хеддера
      &-title {
        margin-left: -2px;
        letter-spacing: 0.01em;
        font: 72px "Proxima Nova Thin", sans-serif;
        text-transform: uppercase;
        text-align: center;
        @media screen and (max-width: 768px) {
          font-size: 72px / 1.5;
        }
        @media screen and (max-width: 480px) {
          font-size: 72px / 2.2;
        }
      }
      //Дополнительный текст хеддера
      &-text {
        margin-top: 21px;
        font-family: "Proxima Nova Regular", sans-serif;
        text-align: center;
        line-height: 32px;
        @media screen and (max-width: 768px) {
          font-size: 18px / 1.2;
        }
        @media screen and (max-width: 480px) {
          padding: 0 5%;
          font-size: 18px / 1.4;
        }
      }
    }
  }
}