.recipes-block {
  height: 481px;
  background: #25262a url("../../img/recipe_bg.jpg") no-repeat center center;
  background-clip: content-box;
  &__inner {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    &-content {
      max-width: 508px;
      &-title {
        font: 56px "Forever Brush Script", sans-serif;
        text-align: center;
        position: relative;
      }
      &-text {
        margin-top: 44px;
        text-align: center;
        line-height: 32px;
      }
    }
  }
}