.story-block {
  min-height: 642px;
  background-color: #962323;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  &__inner {
    display: -webkit-flex;
    display: flex;
    width: 69.5%;
    @media screen and (max-width: 1300px) {
      width: 80%;
    }
    @media screen and (max-width: 1200px) {
      width: 95%;
    }
    @media screen and (max-width: 992px) {
      padding-top: 30px;
      -webkit-flex-direction: column;
      flex-direction: column;
    }
    &-content {
      box-sizing: border-box;
      padding: 29px 12px 10px 136px;
      @media screen and (max-width: 992px) {
        padding: 20px 20px;
      }
      &-title {
        &:after {
          position: absolute;
          content: '';
          width: 108px;
          height: 2px;
          background-color: #fff;
          bottom: 2px;
          left: 40%;
          @media screen and (max-width: 992px) {
            left: 43%;
          }
          @media screen and (max-width: 600px) {
            left: 35%;
          }
        }
      }
    }
    &-image {
      width: 445px;
      height: 400px;
      @media screen and (max-width: 992px) {
        align-self: center;
      }
      @media screen and (max-width: 480px) {
        transform: scale(0.65)
      }
    }
  }
}